.bg-type-grass { background-color: #7AC74C; color: #FFFFFF; }
.bg-type-poison { background-color: #A33EA1; color: #FFFFFF; }
.bg-type-fire { background-color: #EE8130; color: #FFFFFF; }
.bg-type-water { background-color: #6390F0; color: #FFFFFF; }
.bg-type-electric { background-color: #F7D02C; color: #000000; }
.bg-type-ice { background-color: #96D9D6; color: #000000; }
.bg-type-fighting { background-color: #C22E28; color: #FFFFFF; }
.bg-type-ground { background-color: #E2BF65; color: #000000; }
.bg-type-flying { background-color: #A98FF3; color: #FFFFFF; }
.bg-type-psychic { background-color: #F95587; color: #FFFFFF; }
.bg-type-bug { background-color: #A6B91A; color: #FFFFFF; }
.bg-type-rock { background-color: #B6A136; color: #FFFFFF; }
.bg-type-ghost { background-color: #735797; color: #FFFFFF; }
.bg-type-dragon { background-color: #6F35FC; color: #FFFFFF; }
.bg-type-steel { background-color: #B7B7CE; color: #000000; }
.bg-type-fairy { background-color: #D685AD; color: #FFFFFF; }
.bg-type-normal { background-color: #A8A77A; color: #FFFFFF; }